# --- GRAFANA SSO (Authentik) ---
GF_AUTH_GENERIC_OAUTH_ENABLED="true"
GF_AUTH_GENERIC_OAUTH_NAME="LoutikSSO"
GF_AUTH_GENERIC_OAUTH_CLIENT_ID="{{ oidc_client_id }}"
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET="{{ oidc_client_secret }}"
GF_AUTH_GENERIC_OAUTH_SCOPES="openid profile email groups"
GF_AUTH_GENERIC_OAUTH_AUTH_URL="https://sso.loutik.fr/application/o/authorize/"
GF_AUTH_GENERIC_OAUTH_TOKEN_URL="https://sso.loutik.fr/application/o/token/"
GF_AUTH_GENERIC_OAUTH_API_URL="https://sso.loutik.fr/application/o/userinfo/"
GF_AUTH_SIGNOUT_REDIRECT_URL="https://sso.loutik.fr/application/o/grafana-prd/end-session/"
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH="contains(groups[*], 'inf-grafana-prd-adm') && 'Admin' || contains(groups[*], 'inf-grafana-prd-usr') && 'Viewer' || 'None'"

# --- GRAFANA GENERAL ---
GF_SERVER_ROOT_URL="https://monitoring.loutik.fr"
GF_AUTH_ANONYMOUS_HIDE_VERSION="true"
GF_AUTH_ANONYMOUS_ENABLED="false"
GF_FEATURE_TOGGLES_ENABLE="publicDashboards"
GF_AUTH_DISABLE_LOGIN_FORM="true"
GF_AUTH_OAUTH_AUTO_LOGIN="true"

# --- GRAFANA DATABASE (PostgreSQL) ---
GF_DATABASE_TYPE="postgres"
GF_DATABASE_HOST="10.0.17.1:5432"
GF_DATABASE_NAME="db_grafana"
GF_DATABASE_USER="usr_grafana"
GF_DATABASE_PASSWORD="{{ db_password }}"