# ---
# Type        : Template de configuration des hosts Prometheus
# Auteur      : Louis MEDO - louis.medo@loutik.fr
# Role        : pmt-gfn-install
# Objectif    : Découverte dynamique des cibles d'exportation
# ---
# Fichier généré dynamiquement par Ansible (Rôle : pmt-gfn-install)
# ⚠️ Toute modification manuelle sera écrasée. ⚠️
# ---
---

{% set exporters = {
    'node_exporter': 9100,
    'nginx_exporter': 9113,
    'crowdsec_exporter': 6060,
    'postgres_exporter': 9187,
    'squid_exporter': 9301,
    'powerdns_exporter': 9120,
    'proxmox_exporter': 9221,
    'kube_state_metrics': 8080
} %}

{% for target in pmt_targets %}
{% if target.group in groups %}
  {% for host in groups[target.group] %}
    {% for exp_name, exp_port in exporters.items() %}
      {% if target[exp_name] | default(false) %}
- targets:
    - '{{ hostvars[host]["ansible_host"] }}:{{ exp_port }}'
  labels:
    service: '{{ target.group }}'
    hostname: '{{ hostvars[host]["hostname"] | default(host) }}'
    exporter: '{{ exp_name }}'
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
{% endfor %}
