# ---
# Type        : Template de configuration de Prometheus
# Auteur      : Louis MEDO - louis.medo@loutik.fr
# ---
# Fichier généré dynamiquement par Ansible (Rôle : pmt-gfn-install)
# ⚠️ Toute modification manuelle sera écrasée. ⚠️
# ---
---

global:
  scrape_interval: 15s     # Fréquence de collecte des métriques
  evaluation_interval: 15s # Fréquence d'évaluation des règles d'alerte

scrape_configs:
  - job_name: 'node_exporter' # Nom logique pour regrouper les serveurs Linux
    basic_auth:
      username: 'svc_prometheus'
      password: '{{ vault_prometheus_exporter_password }}' # Mot de passe injecté par Ansible
    file_sd_configs:
      - files:
          - '/etc/prometheus/targets/hosts.yml' # Le chemin vu depuis l'INTÉRIEUR du conteneur
        refresh_interval: 1m
  - job_name: 'proxmox_exporter'
    metrics_path: /pve
    params:
      module: [default]
    file_sd_configs:
      - files:
          - '/etc/prometheus/targets/proxmox.yml'
        refresh_interval: 1m
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: pve-exporter:9221
  - job_name: 'proxmox_backup_exporter'
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - '/etc/prometheus/targets/pbs.yml'
        refresh_interval: 1m
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
        replacement: https://${1}:8007
      - source_labels: [__address__]
        target_label: instance
      - target_label: __address__
        replacement: pbs-exporter:10019