# ---
# Fichier généré dynamiquement par Ansible (Rôle : pmt-gfn-install)
# ⚠️ Toute modification manuelle sera écrasée. ⚠️
# ---
---

default:
  user: "{{ prometheus_pve_exporter_user }}"
  token_name: "{{ prometheus_pve_exporter_token_name }}"
  token_value: "{{ vault_prometheus_pve_exporter_token_value }}"
  verify_ssl: false
